@using Grupp9WebbShop.Web.Helpers
@using Grupp9WebbShop.Web.Models

@{
    var LayoutData = (LayoutModel)ViewData["MainLayout"];
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Sweets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class=" col text-center">
                    <a href="/">
                        <img class="" style="width:200px" src="~/images/Logo.png" alt="Logga" />
                    </a>
                </div>
                <div class="col text-right">
                    <partial name="_LoginPartial" />
                </div>
            </div>

            <div class="row mb-3 flex-nowrap" id="myRow">
                <div class="col-md-6">
                    <input id="searchInput" class="searchinput" type="search" aria-label="Search">
                    <button id="searchButton" class="d-none" onclick="search()" />
                    <script>
                        function search() {
                            let queryString = document.getElementById("searchInput").value;
                            console.log(queryString);
                            window.location.href = "/Search?query=" + queryString;
                        }
                        const input = document.querySelector("#searchInput");
                        input.addEventListener("keyup", function (event) {
                            console.log(event.keyCode)
                            if (event.keyCode === 13) {
                                event.preventDefault();
                                document.querySelector("#searchButton").click();
                            }
                        });
                    </script>

                </div>

                <div id="cart" class="dropdown col-md-6 text-right">
                    <a asp-page="/ShoppingBasket">
                        <img id="cartImg" src="~/images/Varukorg_ikon.png" width="40" alt="Varukorg" />
                        (@BasketHelper.NumItems(Context.Session))
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <p class="text-center">Innehåll</p>
                        @if (LayoutData != null)
                        {
                            @foreach (var item in LayoutData.ShoppingBasket.Items)
                            {

                                var p = LayoutData.Products.Where(i => i.Id == item.ProductId).FirstOrDefault();

                                <div>
                                    <img src="~/images/@p.ImageFile" width="70" style="float: left; margin-left:10px;">
                                    <p>
                                        &nbsp;@p.Name<br />
                                        &nbsp;&nbsp;@item.Quantity st, @item.RowPrice kr
                                    </p>
                                </div>
                            }
                        }
                        <a class="nav-link text-dark" style="text-align:center" asp-page="/ShoppingBasket">Till varukorgen</a>
                    </div>
                </div>
            </div>


            

            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container-fluid navstyles">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
                            @if (LayoutData != null)
                            {
                                var category = LayoutData.Categories.ToList();
                                @for (int i = 0; i < category.Count() - 1; i++)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Categories" asp-route-categoryID="@category[i].Id">@category[i].Name</a>
                                    </li>
                                    <li class="divider"></li>

                                }
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Categories" asp-route-categoryID="@category.Last().Id">@category.Last().Name</a>
                                </li>


                            }


                            @*<li class="nav-item">
                    <a class="nav-link" asp-route-categoryID=1>Färdiga Paket</a>
                </li>
                <li class="divider"></li>
                <li class="nav-item">
                    <a class="nav-link" asp-route-categoryID=1>Bygg din egen tårta</a>
                </li>*@



                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <img style="width:100px" src="~/images/Logo.png" alt="Logga" />

                <h3 class="centertext">Följ oss på sociala medier!</h3>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(function () {
                var dropdownMenu = $(this).children(".dropdown-menu");
                if (dropdownMenu.is(":visible")) {
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
