@using Grupp9WebbShop.Web.Helpers
@using Grupp9WebbShop.Web.Models

@{
    var LayoutData = (LayoutModel)ViewData["MainLayout"];
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Sweets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-1 align-middle">
                    <a href="/">
                        <img class="" style="width:100px" src="~/images/Logo.png" alt="Logga" />
                    </a>
                </div>
                <div class=" col-sm-7 text-center">
                    
                        <img src="~/images/Slogan.png" style="width:70%" />
                   
                </div>
                <div class="col-3 text-center">
                    <partial name="_LoginPartial" />
                </div>
            

            <div class="col-1">
                <div id="cart" class="dropdown">
                    <a asp-page="/ShoppingBasket">
                        <img id="cartImg" src="~/images/Varukorg_ikon.png" width="40" alt="Varukorg" />
                        (@BasketHelper.NumItems(Context.Session))
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <p class="text-center">Innehåll</p>
                        @if (LayoutData != null)
                        {
                            @foreach (var item in LayoutData.ShoppingBasket.Items)
                            {

                                var p = LayoutData.Products.Where(i => i.Id == item.ProductId).FirstOrDefault();

                                <div>
                                    <img src="~/images/@p.ImageFile" width="70" style="float: left; margin-left:10px;">
                                    <p>
                                        &nbsp;@p.Name<br />
                                        &nbsp;&nbsp;@item.Quantity st, @item.RowPrice kr
                                    </p>
                                </div>
                            }
                        }
                        <a class="nav-link text-dark" style="text-align:center" asp-page="/ShoppingBasket">Till varukorgen</a>
                    </div>
                </div>
                </div>
            </div>
            @*<div class="searchbox">


                    <form class="searchstyle">
                        <input id="search" class="searchinput" type="search"  aria-label="Search">

                        <button style="visibility:hidden" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>


                </div>*@

            @*<nav class="navbar navbar-expand-md navbar-light">
                <div class="container-fluid navstyles">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">

                            <li class="nav-item">
                                <p style="padding-top: .5rem; padding-bottom: .5rem; margin:0px; font-family: Thonburi-bold;"> 1. Din varukorg</p>
                            </li>
                            <li class="divider"></li>
                            <li class="nav-item">
                                <p style="background-color: white; padding-top: 0.5rem; padding-bottom: 0.5rem; margin: 0px; font-family: Thonburi-bold; "> 2. Kassa</p>
                            </li>
                            <li class="divider"></li>
                            <li class="nav-item">
                                <p style="background-color:white; padding-top:0.5rem; padding-bottom:0.5rem; margin:0px;  font-family: Thonburi-bold;"> 3. Bekräftelse</p>
                            </li>
                            

                        </ul>
                    </div>
                </div>
            </nav>*@
        
        
        </div>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderSection("Steps", false)
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <img style="width:100px" src="~/images/Logo.png" alt="Logga" />

                <h3 class="centertext">Följ oss på sociala medier!</h3>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(function () {
                var dropdownMenu = $(this).children(".dropdown-menu");
                if (dropdownMenu.is(":visible")) {
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
