@using Grupp9WebbShop.Web.Helpers
@using Grupp9WebbShop.Web.Models

@{ 
    var LayoutData = (LayoutModel)ViewData["MainLayout"];
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grupp 9 Webbshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="text-center">
                <a href="/Index">
                    <img style="width:200px" src="~/images/Logo.png" />
                </a>
            </div>
            <div class="row" id="myRow">
                <div id="cart" class="dropdown offset-11">
                    <a  asp-page="/ShoppingBasket">
                        <img id ="cartImg" src="~/images/Varukorg_ikon.png" width="40" />
                        (@BasketHelper.NumItems(Context.Session))
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <p class="text-center">Innehåll</p>
                        @if (LayoutData != null)
                        {
                            @foreach (var item in LayoutData.ShoppingBasket.Items)
                            {

                                var p = LayoutData.Products.Where(i => i.Id == item.ProductId).FirstOrDefault();

                                <div>
                                    <img src="~/images/@p.ImageFile" width="70" style="float: left; margin-left:10px;">
                                    <p>
                                        &nbsp;@p.Name<br />
                                        &nbsp;&nbsp;@item.Quantity st, @item.RowPrice kr
                                    </p>
                                </div>
                            }
                        }
                        <a class="nav-link text-dark" style="text-align:center" asp-page="/ShoppingBasket">Till varukorgen</a>
                    </div>
                </div>
            </div>
            @*<div class="searchbox">


            <form class="searchstyle">
                <input id="search" class="searchinput" type="search"  aria-label="Search">

                <button style="visibility:hidden" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>


        </div>*@
            
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid navstyles">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @if (LayoutData != null)
                            {
                                @foreach (var cat in LayoutData.Categories)
                                {


                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Categories" asp-route-categoryID="@cat.Id">@cat.Name</a>
                                    </li>
                                    <li class="divider"></li>
                                }
                            }


                            @*<li class="nav-item">
                    <a class="nav-link" asp-route-categoryID=1>Färdiga Paket</a>
                </li>
                <li class="divider"></li>
                <li class="nav-item">
                    <a class="nav-link" asp-route-categoryID=1>Bygg din egen tårta</a>
                </li>*@



                        </ul>

                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <img style="width:100px" src="~/images/Logo.png" />

                <h3 class="centertext">Följ oss på sociala medier!</h3>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(function () {
                var dropdownMenu = $(this).children(".dropdown-menu");
                if (dropdownMenu.is(":visible")) {
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
