@page
@model Grupp9WebbShop.Web.Areas.ShopAdmin.Pages.CRUD.EditModel

@{
    ViewData["Title"] = "Redigera";
}

<h1>Redigera</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <input type="hidden" asp-for="Product.ImageFile" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>@Html.DisplayNameFor(modelItem => modelItem.Product.AllergyTags)</p>
            </div>
            @foreach (var tag in Model.Tags)
            {
                var isChecked = Model.Product.AllergyTags.Select(i => i.Id).Contains(int.Parse(tag.Value));
                <div class="form-group form-check">

                    <label class="form-check-label" for="tag-@tag.Value">
                        <input class="form-check-input" type="checkbox" name="tag-@tag.Value" id="tag-@tag.Value" @(isChecked ? "checked" : null) />
                        @tag.Text
                    </label>
                </div>
            }

            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.AddedDate" class="control-label"></label>
                <input asp-for="Product.AddedDate" type="date" value="@Model.Product.AddedDate.ToShortDateString()" class="form-control" />
                <span asp-validation-for="Product.AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageFile" class="control-label"></label>
                <input asp-for="UploadedFile" type="file" class="form-control" />
                <span asp-validation-for="Product.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageDescription" class="control-label"></label>
                <input asp-for="Product.ImageDescription" class="form-control" />
                <span asp-validation-for="Product.ImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.Highlighted" /> @Html.DisplayNameFor(model => model.Product.Highlighted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.OnSale" /> @Html.DisplayNameFor(model => model.Product.OnSale)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
