@page
@model Grupp9WebbShop.Web.Areas.ShopAdmin.Pages.CRUD.IndexModel

@{
    ViewData["Title"] = "Produktkatalog";
}

<h1>Produktkatalog</h1>

<p>
    <a asp-page="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].AllergyInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Highlighted)
            </th>
            <th class="w-auto">Åtgärder</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
    var highlightText = item.Highlighted ? "Ta bort från utvald" : "Sätt som utvald";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllergyInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <img src="~/images/@item.ImageFile" alt="Produktbild" width="80" />
            </td>
            <td>
                <a asp-route-id="@item.Id" aria-label="@highlightText" title="Välj om produkten ska vara utvald"><i class="bi @(item.Highlighted ? "bi-check2-square" : "bi-square")"></i></a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" title="Redigera"><i class="bi bi-pencil-square"></i></a>
                <a asp-page="./Details" asp-route-id="@item.Id" title="Detaljer"><i class="bi bi-info-square"></i></a>
                <a asp-page="./Delete" asp-route-id="@item.Id" title="Ta bort"><i class="bi bi-x-square"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
