@page
@model Grupp9WebbShop.Web.Pages.CategoriesModel
@{
    ViewData["Title"] = "Produkter";
}


<div class="brownandthin mt-5">
    @if (Model.CategoryId == null)
    {
        <h2 class="text-center">Alla bakverk</h2>
    }
    else
    {
        <h2 class="text-center">@Model.CategoryName</h2>
    }

    <h5 class="text-center">Bakverket får innehålla</h5>
    <div class="text-center">
        @foreach (var item in Model.Tags)
        {
            <a class="m-3 text-decoration-none" style="color: #642714;" asp-route-toggleId="@item.Value" asp-route-CategoryId="@Model.CategoryId"><i class="bi @(item.Selected ? "bi-check2-square" : "bi-square")" aria-label="@(item.Selected ? "Får innehålla" : "Får inte innehålla") "></i>@item.Text</a>
        }
    </div>

    <div class="row justify-content-center">
        @foreach (var prod in Model.Products)
        {

            <div class="col-3 text-center" style="max-width: none;">
                <div class="card m-3 border-0" style="background-color: #E0D4C7; width: 14rem;height:24rem">
                    <a class="text-decoration-none text-body" asp-page="/ProductDetails" asp-route-productID="@prod.Id">
                        <img class="card-img-top" style="border:3px solid #FAB0C8;" src="~/images/@prod.ImageFile" alt="@prod.ImageDescription">
                    </a>
                    <div class="card-body flex-grow-0 text-center pink-border pr-1 pl-1" style=" border-top: none; border-bottom: none; height: 90px; background-color: white; color: #642714; font-family: Thonburi-bold">
                        <h5 class="card-title">@prod.Name</h5>
                    </div>
                    <div class="card-body text-center overflow-hidden pt-0 pb-0 flex-grow-0 pink-border" style="border-top:none;border-bottom:none; height:40px;background-color: white;color:#642714;font-family:Thonburi-bold">



                        @if (prod.OnSale)
                        {
                            <h5 class="card-text text-">
                                <del class="mr-2" style="color:#CF7697">@Math.Round(prod.Price, 0)  kr </del>

                                @prod.CalculatedPrice
                                kr
                            </h5>

                        }
                        else
                        {
                            <h5 class="card-text ">
                                @prod.CalculatedPrice kr

                            </h5>
                        }





                    </div>
                    <div class="card-footer text-center pink-border" style="border-top:none; background-color: white;color:#642714;font-family:Thonburi-bold">
                        <span class="card-text"></span>
                        <select name="number" id=@($"S{@prod.Id}")>
                            @for (int i = 1; i < 11; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>


                        <button class="btn pink-button" onclick="buy(@prod.Id)">Köp</button>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<form method="post" id="myHiddenForm">

    <input type="hidden" id="productId" asp-for="ProductId" />
    <input type="hidden" id="amount" asp-for="Number" />

</form>

@if (Model.Animate)
{
    <script>
        let cartImg = document.getElementById("cartImg");
        cartImg.classList.add('animate-cart');
        let highlighted = document.getElementById('highlighted');
        setTimeout(function () {
            highlighted.scrollIntoView({ behavior: 'smooth' });
        }, 1000);

    </script>
}

<script>
    function buy(id) {

        const selectId = "S" + id;

        const mySelect = document.getElementById(selectId);
        const hiddenForm = document.getElementById("myHiddenForm");
        const hiddenId = document.getElementById("productId");
        const hiddenAmount = document.getElementById("amount");

        hiddenId.value = id;
        hiddenAmount.value = mySelect.value;

        hiddenForm.submit();
    }

</script>
