@page
@model Grupp9WebbShop.Web.Pages.CheckoutModel
@{
    Layout = "./shared/_layout-checkoutflow";
    ViewData["Title"] = "Kassa";
}
@using Grupp9WebbShop.Data.Models
@using Microsoft.AspNetCore.Identity
@using Grupp9WebbShop.Web.Areas.Identity.Data

@inject SignInManager<WebbShopUser> SignInManager
@inject UserManager<WebbShopUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.GetUserAsync(User) != null)
{
    var user = await UserManager.GetUserAsync(User);

    @section Steps {
        <nav class="navbar navbar-expand navbar-light ">
            <div class="container-fluid checkout-navstyles">
               

                    <ul class="navbar-nav me-auto nav-fill w-100">

                            <li class="nav-item checkout-p">
                                <a asp-page="/ShoppingBasket"> 1. Din varukorg</a>
                            </li>

                        <li class="checkout-divider"></li>

                        <li class="nav-item">
                            <p class="checkout-p" style="background-color: #b5d8eb;"> 2. Kassa</p>
                        </li>

                        <li class="checkout-divider"></li>

                        <li class="nav-item">
                            <p class="checkout-p"> 3. Kvitto</p>
                        </li>


                    </ul>
                </div>
           
        </nav>
    }
    <div class="ml-auto mr-auto mt-5 p-3" style="width:80%; background-color:#e0d4c7; color:#642714" ;>
        <h1><strong>2. Kassa</strong></h1>
        <div class="ml-auto mr-auto mt-5 p-3" style="width:80%; background-color:#e0d4c7; color:#642714" ;>
            <h2><strong>Leveransadress</strong></h2>
            <div class="ml-auto mr-auto mt-5" style="width:100%; background-color:white; color:#642714" ;>
                <div class=" row m-0">
                    <div class="col-6 p-2 pink-border border-right-0">@user.FirstName</div>
                    <div class="col-6 p-2 pink-border">@user.LastName</div>
                </div>
                <div class=" row m-0">
                    <div class="col p-2 pink-border border-bottom-0 border-top-0">@user.StreetAddress</div>
                </div>
                <div class=" row m-0">
                    <div class="col-6 p-2  pink-border border-right-0">@user.PostalCode</div>
                    <div class="col-6 p-2 pink-border">@user.City</div>
                </div>
            </div>
        </div>
        <div class="ml-auto mr-auto mt-5 p-3" style="width:80%; background-color:#e0d4c7; color:#642714" ;>
            <h2><strong>Kontaktuppgifter</strong></h2>
            <div class="ml-auto mr-auto mt-5" style="width:100%; background-color:white; color:#642714" ;>
                <div class=" row m-0">
                    <div class="col p-2 pink-border border-bottom-0">@user.Email</div>
                </div>

                <div class=" row m-0">
                    <div class="col p-2 pink-border ">@(user.PhoneNumber != null ? user.PhoneNumber : "Lägg till telefonnummer")</div>
                </div>
            </div>
            <div class="row m-0">
                <p>Chauffören kommer att kontakta dig 15 minuter före leverans.</p>
            </div>

        </div>
        <form method="post">
            <div class="ml-auto mr-auto mt-5 p-3" style="width:80%; background-color:#e0d4c7; color:#642714" ;>
                <h2><strong>Välj fraktalternativ</strong></h2>
                <div class="ml-auto mr-auto mt-5" style="width:100%; background-color:white; color:#642714" ;>
                    <div class="row m-0">
                        <div class="col-sm-6 p-2 pink-border">
                            <div class="row flex-nowrap">
                                <div class="col-2 text-center">
                                    <input onclick="setShippingCost('Normal')" type="radio" value="@ShippingTypes.Normal" asp-for="Shipping" />

                                </div>
                                <div class="col-7">
                                    <h5 style="color: #CF7697">Standardfrakt</h5>
                                    <p>Inom 3-5 vardagar <br />Gratis frakt vid köp över 299 kr</p>
                                </div>
                                <div class="col-3 "><h5 style="color: #CF7697">29 kr</h5></div>
                            </div>
                        </div>
                        <div class="col-sm-6 p-2 pink-border">
                            <div class="row flex-nowrap">
                                <div class="col-2 text-center">
                                    <input onclick="setShippingCost('Express')" type="radio" value="@ShippingTypes.Express" asp-for="Shipping" />

                                </div>
                                <div class="col-7">
                                    <h5 style="color: #CF7697">Expressfrakt</h5>
                                    <p>Inom 1-2 vardagar <br />Gratis frakt vid köp över 299 kr</p>
                                </div>
                                <div class="col-3"><h5 style="color: #CF7697">49 kr</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-auto mr-auto mt-5 p-3" style="width:80%; background-color:#e0d4c7; color:#642714" ;>
                <h2><strong>Välj betalsätt</strong></h2>
                <div class="ml-auto mr-auto mt-5" style="width:100%; background-color:white; color:#642714" ;>
                    <div class="row m-0">
                        <div class="col-2 p-2 pink-border border-bottom-0 border-right-0 text-center"><input type="radio" asp-for="Payment" value="@PaymentTypes.Klarna" /></div>
                        <div class="col-7 p-2 pink-border border-bottom-0 border-right-0 border-left-0">
                            <h5 style="color: #CF7697">Klarna</h5>
                            <p>Betala direkt, med faktura eller delbetalning.<br />Spara kort &amp; bankkonto.</p>
                        </div>
                        <div class="col-3 p-2 pink-border border-bottom-0 border-left-0 text-right"><img class="d-none d-md-block" src="~/images/Klarna_symbol.png" width="100" /></div>
                    </div>
                    <div class="row m-0">
                        <div class="col-2 p-2 pink-border border-right-0 text-center"><input type="radio" asp-for="Payment" value="@PaymentTypes.CreditCard" /></div>
                        <div class="col-7 p-2 pink-border border-right-0 border-left-0">
                            <h5 style="color: #CF7697">Betala med kort</h5>
                            <p>Fyll i kortuppgifter.</p>
                        </div>
                        <div class="col-3 p-2 pink-border border-left-0 text-right"><img class="d-none d-md-block" src="~/images/Mastercard_Visa_ikon.png" width="100" /></div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4>
                    Totalbelopp inkl moms <span id="totalSum">@Model.Basket.Total</span>kr
                </h4>
                <input type="submit" style="width:270px;" id="kop" class="pink-button " value="Slutför köp" />
                <br />
                <span asp-validation-for="Shipping" class="text-danger"></span>
                <br />
                <span asp-validation-for="Payment" class="text-danger"></span>

            </div>

        </form>
    </div>
}
else
{
<div class="brownandthin text-center">
    <a class="btn blue-button" id="login" asp-area="Identity" asp-page="/Account/Login">Vänligen logga in för att fortsätta</a>
</div>
}

@if (Model.Fail != null && Model.Fail.Value)
{
    <script>
        const kopbtn = document.querySelector("#kop");
        kopbtn.focus();
    </script>
}
<script>
    function setShippingCost(shippingType) {
        console.log("here");
        let totalSum = document.getElementById("totalSum");
        //let shippingType = document.getElementById("Shipping");
        let price = @Json.Serialize(Model.Basket.Total);
        console.log(shippingType);


        if (price > 299) {
            totalSum.innerHTML = price;
        }
        else if (shippingType == "Normal") {

            totalSum.innerHTML = 29 + price;
        }
        else {
            totalSum.innerHTML = 49 + price;
        }
    }

</script>
