@page
@model Grupp9WebbShop.Web.Pages.ProductDetailsModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img style="width:100%" src="~/images/@Model.Product.ImageFile" alt="@Model.Product.ImageDescription" />
        </div>
        <div class="col-sm-6">
            <h1>Detaljer för @Model.Product.Name</h1>
            <p>@Model.Product.Description</p>
            <p>Pris: @Math.Round(Model.Product.Price, 0) kr</p>
            
            <form method="post">
                <select name="number">
                    @for (int i = 1; i < 11; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <button type="submit" onclick="">Köp</button>
            </form>
        </div>
    </div>
    
        
    
</div>
@if (Model.Animate)
{


<script>
   
    let cart = document.getElementById("cart");

    cart.style.backgroundColor = "pink";
    function myFunction() {
        myVar = setTimeout(function () { alert("Hello") }, 3000);
    }


</script>
}