@page
@model Grupp9WebbShop.Web.Pages.ProductDetailsModel
@{
    ViewData["Title"] = Model.Product.Name;
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img style="width:100%" src="~/images/@Model.Product.ImageFile" alt="@Model.Product.ImageDescription" />
        </div>
        <div class="col-sm-6">
            <h1>@Model.Product.Name</h1>
            <p>@Model.Product.Description</p>
            <p>@Model.Product.AllergyInfo</p>
            @*<p>Pris: @Math.Round((Model.Product.OnSale ? Model.Product.Price * (decimal)0.8 : Model.Product.Price), 0) kr</p>*@
        <p>
            @if (Model.Product.OnSale)
            {
                <del class="mr-2" style="color:#CF7697">@Math.Round(Model.Product.Price, 0)  kr </del> 
            }
            @Model.Product.CalculatedPrice kr
        </p>
            <p>I butik: @Model.ProductQuantity</p>

            <form method="post">
                <select name="number">
                    @for (int i = 1; i < 11; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <button type="submit" onclick="">Köp</button>
            </form>
        </div>
    </div>
    
        
    
</div>
@if (Model.Animate)
{
<script>   
    let cartImg = document.getElementById("cartImg");
    cartImg.classList.add('animate-cart');             
</script>
}