@page
@model Grupp9WebbShop.Web.Pages.ProductDetailsModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img style="width:100%" src="~/images/@Model.Product.ImageFile" alt="@Model.Product.ImageDescription" />
        </div>
        <div class="col-sm-6">
            <h1>Detaljer för @Model.Product.Name</h1>
            <p>@Model.Product.Description</p>
            <p>Pris: @Math.Round(Model.Product.Price, 0) kr</p>
            <select name="number">
                @for (int i = 1; i < 11; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <button onclick="">Köp</button>
        </div>
    </div>
    
        
    
</div>
@if (Model.Animate)
{


<script>
    let cart = document.getElementById("Cart");
   
    cart.classList.remove('bg-dark');
    cart.classList.remove('text-light');
    cart.classList.add('btn-success');

    setTimeout(function () {
       
        cart.classList.remove('btn-success');

        cart.classList.add('bg-dark');
        cart.classList.add('text-light');

    }, 1500);               

</script>
}