@page
@using Grupp9WebbShop.Data.Models
@model Grupp9WebbShop.Web.Pages.ShoppingBasketModel
@{

}

<h1>Din varukorg</h1>
<p>Antal varor: @Grupp9WebbShop.Web.Helpers.BasketHelper.NumItems(HttpContext.Session)</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Produkt</th>
            <th>Antal</th>
            <th>Pris / st</th>
            <th>Totalt</th>
            <th>Åtgärd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Basket.Items)
        {
                Product p = Model.Products.Where(i => i.Id == item.ProductId).FirstOrDefault();
            <tr>
                <td>@p.Name</td>
                <td>
                    <span><a style="width:38px;" class="btn btn-primary font-weight-bold" asp-route-pid="@item.ProductId" asp-page-handler="ModifyItem">-</a></span>
                <span>@item.Quantity </span>
                    <span><a class="btn btn-primary font-weight-bold" asp-route-pid="@item.ProductId" asp-page-handler="ModifyItem" asp-route-inc="true">+</a></span>
                </td>
                <td>@Math.Round(p.Price, 2) kr</td>
                <td>@Math.Round(item.RowPrice, 2) kr</td>
                <td><a class="btn btn-primary" asp-route-pid="@item.ProductId" asp-page-handler="ModifyItem" asp-route-delete="true">Ta bort</a></td>
            </tr>
        }
    </tbody>
</table>
<p>Totalt: @Math.Round(Model.Basket.Total, 2) kr</p>